<div class="upper-part">
    <div class="main-footer-part">
        <div class="footerlogo">tech</div>
        <div class="detail">
            <div>
                <img src="../svg/loaction.svg" alt="">ahemdabad,gujarat 382350
            </div>
            <div>
                <img src="../svg/care.svg" alt="">tech.care@gmail.com
            </div>
        </div>
        <div class="mailSub">
            <input type="email" name="email" placeholder="abc@gmail.com" id="footerEmail">
            <button><img src="../svg/send.svg" alt=""></button>
        </div>
        <p class="subDetail">subscribe for detail</p>
    </div>
    <div class="main-footer-part footerlinkpart">
        <div class="footerLink">
            <h1>follow us</h1>
            <p><img src="svg/github.svg" alt="">github</p>
            <p><img src="svg/linkdin.svg" alt="">linkdin</p>
            <p><img src="svg/insta.svg" alt="">instagram</p>
            <p><img src="svg/yt.svg" alt="">youtube</p>
            <p><img src="svg/x.svg" alt="">x</p>
        </div>
        <div class="footerLink">
            <h1>product</h1>
            <p>mobile</p>
            <p>tv & moniter</p>
            <p>laptop</p>
            <p>sound system</p>
            <p>gaming console</p>
            <p>accecaories</p>
        </div>
        <div class="footerLink">
            <h1>customer service</h1>
            <p>faq</p>
            <p>collection & deleveriry</p>
            <p>refund policy</p>
            <p>product safty</p>
            <p>product care</p>
            <p>store care</p>
        </div>
        <div class="footerLink">
            <h1>Demo Page</h1>
            <a href="index.html">Main Page</a>
            <a href="shop.html">Shop page</a>
            <a href="product.html">Product page</a>
            <a href="cart.html">Cart</a>
            <a href="payment.html">Payment</a>
            <a href="login.html">Log in Page</a>
            <a href="about.html">About us</a>
            <a href="help.html">Help Center</a>
            <a href="404.html">404 page</a>
        </div>
    </div>
</div>
<div class="lower-part">
    <p>all right reserved @ tech.in</p>
    <p>created by nayan sukhadiya 🤍</p>
    <img src="../img/payment.png" alt="">
</div>