<p class="logo">tech.</p>
<nav class="nav" id="nav">
    <p id="closeBtn" onclick="closeBtn()">X</p>
    <ul>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" ><a href="index.html">Home</a></li>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" >
            mobile
            <div class="sub-menu active" onmousemove="myFunction(event)" onmouseout="clearColor()">
                <div class="main-menu">
                    <div class="main-box">
                        <div class="box-inner">
                            <h1>brand</h1>
                            <p>samsung</p>
                            <p>apple</p>
                            <p>one plus</p>
                            <p>nothing</p>
                            <p>vivo</p>
                            <p>oppo</p>
                            <p>mi</p>
                            <p>iqoo</p>
                            <p>lava</p>
                        </div>
                        <div class="box-inner">
                            <h1>storage</h1>
                            <p>64 GB </p>
                            <p>128 GB </p>
                            <p>256 GB </p>
                            <p>512 GB </p>
                            <p>1TB </p>
                            <h1>RAM</h1>
                            <p>4 GB</p>
                            <p>8 GB</p>
                            <p>12 GB</p>
                            <p>16 GB</p>
                        </div>

                        <div class="box-inner">
                            <h1>display</h1>
                            <h5>resolution</h5>
                            <p>HD</p>
                            <p>FHD</p>
                            <p>2K</p>
                            <h5>size</h5>
                            <p>38.1cm (15") - 40.62cm (16")</p>
                            <p>33.02cm (13") - 37.84cm (14.9")</p>
                        </div>
                        <div class="box-inner">
                            <h1>camera</h1>
                            <p>32 px</p>
                            <p>48 px</p>
                            <p>50 px</p>
                            <p>64 px</p>
                            <p>108 px</p>
                            <p>200 px</p>
                        </div>
                        <div class="box-inner img-box">
                            <div class="img-sec">
                                <img src="img/mobile/m (1).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/mobile/m (2).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/mobile/m (3).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/mobile/m (4).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/mobile/m (5).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/mobile/m (6).png" alt="">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" >
            home appliance
            <div class="sub-menu" onmousemove="myFunction(event)" onmouseout="clearColor()">
                <div class="main-menu">
                    <div class="main-box">
                        <div class="box-inner">
                            <h1>refrigerator</h1>
                            <p>all refrigerators</p>
                            <p>side by side</p>
                            <p>double door</p>
                            <p>single door</p>
                        </div>
                        <div class="box-inner">
                            <h1>air consignor</h1>
                            <p>all air consignor</p>
                            <p>windfree ™ AC</p>
                            <p>WI-FI enabled AC</p>
                            <p>discover air condoner</p>
                        </div>
                        <div class="box-inner">
                            <h1>washing machines</h1>
                            <p>all washing machines</p>
                            <p>dryer</p>
                            <p>front load</p>
                            <p>top load</p>
                            <p>washer dryer</p>
                        </div>
                        <div class="box-inner">
                            <h1>vacuum cleaners</h1>
                            <p>all vacuum cleaner</p>
                            <p>jet vacuum cleaners</p>
                            <p>robot vacuum cleaners</p>
                        </div>
                        <div class="box-inner">
                            <h1>cooking appliance</h1>
                            <p>all cooking appliance</p>
                            <p>microwave ovens</p>
                        </div>
                        <div class="box-inner">
                            <h1>air purifiers</h1>
                            <p>all air purifiers</p>
                            <p>all filters</p>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" >
            Tv & Av
            <div class="sub-menu" onmousemove="myFunction(event)" onmouseout="clearColor()">
                <div class="main-menu">
                    <div class="main-box">
                        <div class="box-inner">
                            <h1>recommended</h1>
                            <p>all about tv</p>
                            <p>wht neo QLED</p>
                            <p>why OLED</p>
                            <p>neo QLED for gaming</p>
                            <p>why smart tv</p>
                        </div>
                        <div class="box-inner">
                            <h1>TVs</h1>
                            <p>all TVs</p>
                            <p>neo QLED</p>
                            <p>OLED</p>
                            <p>QLED 4K</p>
                            <p>Crystal 4k UHD</p>
                            <p>the frame</p>
                            <p>TV accessories</p>
                        </div>
                        <div class="box-inner">
                            <h1>projectores</h1>
                            <p>the premiere</p>
                            <p>the freestyle</p>
                            <p>all projectors</p>
                        </div>
                        <div class="box-inner">
                            <h1>sound devices</h1>
                            <p>discover sound devices</p>
                            <p>sound tower</p>
                            <p>soundbar</p>
                            <p>all sound devices</p>
                        </div>
                        <div class="box-inner">
                            <h1>TV by size</h1>
                            <p>2m 47cm (98") TVs</p>
                            <p>2m 16cm (85") TVs</p>
                            <p>1m 89cm (75") TVs</p>
                            <p>1m 63cm (65") TVs</p>
                            <p>1m 38cm (55") TVs</p>
                            <p>1m 25cm (50") TVs</p>
                            <p>1m 08cm (43") TVs</p>
                            <p>80cm (32") TVs</p>
                            <p>all TVs</p>
                        </div>
                        <div class="box-inner">
                            <h1>TV by resolution</h1>
                            <p>QLED 8K</p>
                            <p>UHD 4K</p>
                            <p>FULL HD</p>
                            <p>HD</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" >
            laptop & monitors
            <div class="sub-menu" onmousemove="myFunction(event)" onmouseout="clearColor()">
                <div class="main-menu">
                    <div class="main-box">
                        <div class="box-inner">
                            <h1>brand</h1>
                            <p>apple</p>
                            <p>samsung</p>
                            <p>dell</p>
                            <p>hp</p>
                            <p>acer</p>
                            <p>msi</p>
                        </div>
                        <div class="box-inner">
                            <h1>storage</h1>
                            <p>512 GB SSD</p>
                            <p>1TB SSD</p>
                            <p>512 GB DISK</p>
                            <p>1TB DISK</p>
                            <P></P>
                            <P></P>
                            <h1>RAM</h1>
                            <p>8 GB</p>
                            <p>16 GB</p>
                            <p>32 GB</p>
                            <p>64 GB</p>
                        </div>

                        <div class="box-inner">
                            <h1>display</h1>
                            <h5>resolution</h5>
                            <p>HD</p>
                            <p>FHD</p>
                            <p>2K</p>
                            <h5>size</h5>
                            <p>38.1cm (15") - 40.62cm (16")</p>
                            <p>33.02cm (13") - 37.84cm (14.9")</p>
                        </div>
                        <div class="box-inner">
                            <h1>monitors</h1>
                            <p>all monitors</p>
                            <p>gaming monitor</p>
                            <p>smart monitor</p>
                            <p>curved monitor</p>
                            <p>flat monitor</p>
                            <p>high resolution monitor</p>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="box-inner img-box">
                            <div class="img-sec">
                                <img src="img/laptop/L (1).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/laptop/L (2).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/laptop/L (3).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/laptop/L (4).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/laptop/L (5).png" alt="">
                            </div>
                            <div class="img-sec">
                                <img src="img/laptop/L (6).png" alt="">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item-has-children" id="navMenu" onmousemove="myFunction(event)" onmouseout="clearColor()" ><a href="shop.html">Shop</a></li>
    </ul>
</nav>
<p id="openBtn" onclick="openBtn()">=</p>
<div class="icons">
    <img src="../svg/search.svg" alt="">
    <img src="../svg/heart.svg" alt="">
    <img src="../svg/cart.svg" alt="">
</div>
